<ion-view view-title="Entrar" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Creepypastas</h1>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="app.creepypastas" class="button button-full button-assertive ink">Entrar</button>
        </div>
    </ion-content>
</ion-view>
